<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/productListLayouts">
	<div layout:fragment="product_content" class="row">
	
	<div id="productList" class="col-md-3">
		<div class="card mb-4 shadow-sm">
			<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/img/skin1.png">
			<div class="card-body">
				<p class="card-text">11111</p>
				<p class="card-text">스킨케어제품 30mL</p>
				<p class="card-text">3000원</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
					</div>
					<small class="text-muted">new</small>
				</div>
			</div>
		</div>
	</div>
</div>
</html>