<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" th:href="@{/css/ui.css}"/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		function reviewLoginCheck(){	//리뷰 작성, 나의 프로필 선택시 alert 처리
			alert("로그인 후 이용 가능한 서비스입니다.\n로그인 후 이용해 주세요.");		
		}
    </script>
    <script type="text/javascript">
		$(document).ready(function () {
			$.ajax({
				url : '/review/getReviewList1',
				type : 'GET',
				success : function(data) {
					$('#powerReviewList').html(data);
				}
			});

			$.ajax({
				url : '/review/allreview',
				type : 'POST',
				success : function(data) {
					$('#reviewList').html(data);
				}
			});
		});
		
	
		function openWin(url) {
			ReviewDetailView = window
					.open(
							"about:blank",
							"ReviewDetail",
							"width=550,height=600,left=400,top=50,dependent=yes,menubar=no,status=no,resizable=yes,toolbar=no,scrollbars=yes");
			ReviewDetailView.location.href = url;
			ReviewDetailView.focus();
			return false;
		}
	</script>
</th:block>

<div layout:fragment="contents">
	
	<section id="contents" class="review">
		<h2 class="pageTitle">리뷰</h2>
		<div class="tabType">
			<ul class="item3">
				<li class="active"><a href="javascript:void(0);"><span>리뷰 보기</span></a></li>
				<li>
					<a href="javascript:void(0);" onclick="reviewLoginCheck();"><span>리뷰 작성</span></a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="reviewLoginCheck();"><span>나의 프로필</span></a>
				</li>
			</ul>
		</div>
		
		<div layout:fragment="powerReview"></div>

		<section class="recomReview">
			<div layout:fragment="recomReview"></div>
		</section>
		
		<div layout:fragment="reviewList"></div>
	</section>
		
</div>
</html>