<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	  <a href="/" class="my-0 mr-md-auto font-weight-normal"><img src="/img/ibm_logo.png" height="50" alt="ibm"/></a>
	  <nav class="my-2 my-md-0 mr-md-3">
	    <a class="p-2 text-dark" href="#">Product</a>
	    <a class="p-2 text-dark" href="#">Event</a>
	    <a class="p-2 text-dark" href="/review/">Review</a>
	  </nav>
	  <a class="btn btn-outline-primary" href="#">Cart</a>
	</div>
</header>

</html>