<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/reviewlist.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/ui.js"></script>
<script src="../js/review.js"></script>
<link rel="stylesheet" href="http://localhost:8081/css/customBootstrap.css"/>

<title>리뷰</title>
</head>

<body>
	<div class="reivewTab" id="reivewTab">
		<ul>
			<li class="active"><a href="javascript:void(0);">포토 리뷰</a></li>
			<li><a href="javascript:void(0);">간단 리뷰</a></li>
		</ul>
	</div>
	<div class="reviewSort">
		<div class="searchBox">
			<input type="text" id="key" name="key" class="inputTxt" onkeypress="javascript:if(event.keyCode == 13){reviewProductSearch();return false;}" placeholder="검색어를 입력하세요.">
			<button type="button" class="btnSearch" onclick="reviewProductSearch();">검색</button>
		</div>
		<div class="reviewSelFilter">
			<input type="hidden" id="filterGnrt" value="">
			<input type="hidden" id="filterSkintypecd" value="">
			<input type="hidden" id="filterSkinetcinfo" value="">
			<input type="hidden" id="filterSkintonecd" value="">
			<ul class="sel">
				<li><input type="radio" id="photoSort1" name="sort" value="1" onclick="srchPhotoList('sort')" checked="checked"><label for="photoSort1">최신순</label></li>
				<li><input type="radio" id="photoSort2" name="sort" value="2" onclick="srchPhotoList('sort')"><label for="photoSort2">조회순</label></li>
			</ul>
			<div class="filter">
				<button type="button" class="btn" onclick="reivewFilter('open');">맞춤 필터</button>
				<div class="filterLayer">									
						<p class="infoTxt">
							나와 같은 연령, 피부 타입/고민을 가진 사람들이 작성한<br> 리뷰를 살펴보세요!<br>
							
						</p>									
					<div class="checkArea">
						<dl>
							<dt>연령</dt>
							<dd>
								<ul>
									<li>
										<input type="radio" name="uAge" id="reViewFilter1_0" value="all" checked="checked">
										<label for="reViewFilter1_0">전체</label>
									</li>
									<li>
										<input type="radio" name="uAge" id="reViewFilter1_1" value="10">
										<label for="reViewFilter1_1">10대</label>
									</li>
									<li>
										<input type="radio" name="uAge" id="reViewFilter1_2" value="20">
										<label for="reViewFilter1_2">20대</label>
									</li>
									<li>
										<input type="radio" name="uAge" id="reViewFilter1_3" value="30">
										<label for="reViewFilter1_3">30대</label>
									</li>
									<li>
										<input type="radio" name="uAge" id="reViewFilter1_4" value="40">
										<label for="reViewFilter1_4">40대 이상</label>
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>피부 타입</dt>
							<dd>
								<ul>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_1" value="SZ01">
										<label for="reViewFilter2_1">건성</label>
									</li>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_2" value="SZ02">
										<label for="reViewFilter2_2">중성</label>
									</li>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_3" value="SZ03">
										<label for="reViewFilter2_3">지성</label>
									</li>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_4" value="SZ04">
										<label for="reViewFilter2_4">민감성</label>
									</li>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_5" value="SZ05">
										<label for="reViewFilter2_5">복합성</label>
									</li>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_6" value="SZ06">
										<label for="reViewFilter2_6">약건성</label>
									</li>
									<li>
										<input type="checkbox" name="skintypecd" id="reViewFilter2_7" value="SZ07">
										<label for="reViewFilter2_7">트러블성</label>
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>피부 밝기</dt>
							<dd>
								<ul>
									<li>
										<input type="checkbox" name="skinetcinfo" id="reViewFilter3_1" value="SY13">
										<label for="reViewFilter3_1">13호</label>
									</li>
									<li>
										<input type="checkbox" name="skinetcinfo" id="reViewFilter3_2" value="SY21">
										<label for="reViewFilter3_2">21호</label>
									</li>
									<li>
										<input type="checkbox" name="skinetcinfo" id="reViewFilter3_3" value="SY23">
										<label for="reViewFilter3_3">23호</label>
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>피부 톤</dt>
							<dd>
								<ul>
									<li>
										<input type="checkbox" name="skintonecd" id="reViewFilter4_1" value="SX01">
										<label for="reViewFilter4_1">노랑</label>
									</li>
									<li>
										<input type="checkbox" name="skintonecd" id="reViewFilter4_2" value="SX02">
										<label for="reViewFilter4_2">보통</label>
									</li>
									<li>
										<input type="checkbox" name="skintonecd" id="reViewFilter4_3" value="SX03">
										<label for="reViewFilter4_3">붉은</label>
									</li>
								</ul>
							</dd>
						</dl>
					</div>
					<div class="btnWrap">
						<button type="button" class="btnType6m" onclick="filterReset();">초기화</button>
						<button type="button" class="btnType3m" onclick="filterSet();">적용</button>
					</div>
					<button type="button" class="btnClose" onclick="reivewFilter('close');">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<div style="padding-top: 30px; padding-bottom: 15px;">
		<div class="card-columns">
			<th:block th:each="ReviewData : ${reviewList}">
		
				<div class="card">
					<div class="image fit" style="maring-bottom: 10px;">
					<th:block th:each="ReviewImg : ${ReviewData.tplList}" th:if="${ReviewImgStat.index} == 0">
						<img th:src="@{'http://localhost:9091'+${ReviewImg}}" class="reviewWrapImg" alt="Img"
							style="width: 100%; cursor: pointer;"
							th:data-url="@{'/review/reviewDetail/'+${ReviewData._id}}"
							onclick="openWin(this.getAttribute('data-url'));"/>
					</th:block>
					</div>
					<div class="card-body" style="font-size:11pt; color: #777;">
						<p class="card-title" style="font-weight: bold; color: black;" th:text="${ReviewData.product.prdNm}"></p>
							
						<!-- 평점을 별로.. -->
						<th:block th:each="num:${#numbers.sequence(1,ReviewData.evalScore)}">
							★
						</th:block>
						<div th:with="max_length=50">
							<p class="card-text" th:if="${#strings.length(ReviewData.goodCnts)} gt ${max_length}" th:text="${#strings.substring(ReviewData.goodCnts,0,max_length) + '…'}"></p>
							<p class="card-text" th:unless="${#strings.length(ReviewData.goodCnts)} gt ${max_length}" th:text="${ReviewData.goodCnts}"></p>
						</div>
						  		
						<div style="vertical-align: middle; line-height: 43px; margin-top: 15px; margin-bottom: 15px;">
							<th:block th:each="reviewerInfo : ${ReviewData.reviewer}" th:if="${reviewerInfoStat.index} == 0">
								<img th:src="@{'http://localhost:9091'+${reviewerInfo.profileImg}}" style="height: 40px; width: 40px;" alt="Img" />
							  	&nbsp;<span class = "badge badge-success" th:text="'lv.' + ${reviewerInfo.lvl}"></span>
						  		&nbsp;<span th:text="${reviewerInfo.nickNm}" style="font-size: 11pt; color: black;"></span><br/>
					  		</th:block>
					  	</div>
					  	<span style="position: absolute; bottom: 12px; left: 14px; line-height: 1; font-size: 14px; font-family: 'roboR';"
					  		th:text="${#dates.format(ReviewData.regDate, 'yyyy-MM-dd')}"></span>
					  	<button type="button" class="btnShow" 
					  		style="position: absolute; bottom: 15px; right: 15px; width: 16px; height: 16px; background: url('/img/btn_show.png') no-repeat; font-size: 0;" 
					  		th:data-url="@{'/review/reviewDetail/'+${ReviewData._id}}"
					  		onclick="openWin(this.getAttribute('data-url'));">리뷰 상세 보기</button>
					</div>
				</div>
		
			</th:block>	
		</div>
	</div>

	<div class="moreReview" id="moreReview">
		<a href="javascript:void(0);" id="moreReviewBtn">더보기</a>
	</div>
		
	<script type="text/javascript">
	
		$(document).ready(function () {
			//페이징
			var pageNo = 2;
			var totalCmtNo = [[${reviewTotCnt}]] 
			var totalPgNo = Math.floor(totalCmtNo/3);
			
			if(totalPgNo <= 1){ // 총 댓글이 3개 이하일 때는 첫 페이지부터 버튼 hide
				$("#moreReview").hide();
			}
			else{				// 총 댓글이 4개 이상일 때 버튼 이벤트
				$("#moreReviewBtn").click(function (){
		  		 $.ajax({
							type: 'POST'',
							url : '/review/allreview',
				            success: function (data) { 
				                $('.card-columns').append(data);	//detailComment.html을 따로 따서 덧붙임.
								if(pageNo == totalPgNo){ //마지막페이지이면 버튼 hide
								   $("#moreReview").hide();
								}
								else {
								   pageNo += 1; //페이지 더 있으면 pageNo ++
								}
						     },			//ajax-success      
							error: function (e) {
								console.log(e);
								alert('리뷰 읽기에 실패했습니다.');
							} 					//ajax-error
							});  				//ajax 
				});										//Btn-Event
			}									//else
		});

		function openWin(url){
			ReviewDetailView = window.open("about:blank", "ReviewDetail", "width=550,height=600,left=400,top=50,dependent=yes,menubar=no,status=no,resizable=yes,toolbar=no,scrollbars=yes");
			ReviewDetailView.location.href = url;
			ReviewDetailView.focus();
		    return false;	
		}
		
    </script>
</body>
</html>