<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
			<th:block th:each="ReviewData : ${reviewList}">
				<div class="card">
					<div class="image fit" style="maring-bottom: 10px;">
					
					<th:block th:if="${ReviewData.reviewCl} == 'A'">
						<th:block th:each="ReviewImg : ${ReviewData.tplList}" th:if="${ReviewImgStat.index} == 0">
							<img th:src="@{'http://localhost:9091'+${ReviewImg}}" class="reviewWrapImg" alt="Img"
								style="width: 100%; cursor: pointer;"
								th:data-url="@{'/review/reviewDetail/'+${ReviewData._id}}"
								onclick="openWin(this.getAttribute('data-url'));"/>
						</th:block>
					</th:block>
					<th:block th:if="${ReviewData.reviewCl} == 'B'">
						<img th:src="@{'http://localhost:9092'+${ReviewData.product.prdImg2Nd}}" class="reviewWrapImg" alt="Img"
							style="width: 100%; cursor: pointer;"
							th:data-url="@{'/review/reviewDetail/'+${ReviewData._id}}"
							onclick="openWin(this.getAttribute('data-url'));"/>
					</th:block>
					
					</div>
					<div class="card-body" style="font-size:11pt; color: #777;">
						<p class="card-title" style="font-weight: bold; color: black; margin-bottom:.25rem;" th:text="${ReviewData.product.prdNm}"></p>
							
						<!-- 평점을 별로.. -->
						<th:block th:each="num:${#numbers.sequence(1,ReviewData.evalScore)}">
							<img class="evalScore" src="/img/star.png" width="20px"/>
						</th:block>
						<div th:with="max_length=50" style="margin-top:.25rem;">
							<p class="card-text" th:if="${#strings.length(ReviewData.goodCnts)} gt ${max_length}" th:text="${#strings.substring(ReviewData.goodCnts,0,max_length) + '…'}"></p>
							<p class="card-text" th:unless="${#strings.length(ReviewData.goodCnts)} gt ${max_length}" th:text="${ReviewData.goodCnts}"></p>
						</div>
						  		
						<div style="vertical-align: middle; line-height: 43px; margin-top: 15px; margin-bottom: 15px;">
							<th:block th:each="reviewerInfo : ${ReviewData.reviewer}" th:if="${reviewerInfoStat.index} == 0">
								<img th:src="@{'http://localhost:9091'+${reviewerInfo.profileImg}}" style="height: 40px; width: 40px;" alt="Img" />
							  	&nbsp;<span class = "badge badge-success" th:text="'lv.' + ${reviewerInfo.lvl}"></span>
						  		&nbsp;<span th:text="${reviewerInfo.nickNm}" style="font-size: 11pt; color: black;"></span><br/>
					  		</th:block>
					  	</div>
					  	<span style="position: absolute; bottom: 12px; left: 14px; line-height: 1; font-size: 14px; font-family: 'roboR';"
					  		th:text="${#dates.format(ReviewData.regDate, 'yyyy-MM-dd')}"></span>
					  	<button type="button" class="btnShow" 
					  		style="position: absolute; bottom: 15px; right: 15px; width: 16px; height: 16px; background: url('/img/btn_show.png') no-repeat; font-size: 0;" 
					  		th:data-url="@{'/review/reviewDetail/'+${ReviewData._id}}"
					  		onclick="openWin(this.getAttribute('data-url'));">리뷰 상세 보기</button>
					</div>
				</div>
		</th:block>	

		
		<script type="text/javascript">
	
		$(document).ready(function(){
			//페이징
			
			var totalCmtNo = [[${reviewTotCnt}]] 
			var totalPgNo = Math.floor(totalCmtNo/20);
			
			if(totalPgNo <= 1){ // 총 리뷰가 20개 이하일 때는 첫 페이지부터 버튼 hide
				$("#moreReview").hide();
			}
			else{				// 총  리뷰가 20개 이상일 때 버튼 이벤트
				$("#moreReview").show();
				$("#moreReviewBtn").click(function (){
					srchPhotoList('more'); 
					if($('#pageNo').val() == totalPgNo){ //마지막페이지이면 버튼 hide
						$("#moreReview").hide();
					}
				});							//Btn-Event
				
			}								//else
				
		});									//document-ready

		
    </script>
   </body>
   </html>
    