<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>리뷰</title>
</head>
<body>
<div class="thumbnails">							
<th:block th:each="ReviewData : ${Review}">

	<div class="box">
		<span th:text="'_id : ' + ${ReviewData._id}"></span>
		
		<button th:target="_blank"
		  th:data-url="@{'/review/reviewDetail/'+${ReviewData._id}}"
		  onclick="openWin(this.getAttribute('data-url'))">click here:)
		</button><br/>
		
		<div class = "image fit">
		<th:block th:each="ReviewImg : ${ReviewData.tplList}" th:if="${ReviewImgStat.index} == 0">
			<img class="ReviewImg" th:src="@{'http://localhost:9091'+${ReviewImg}}" alt="Img"  /><br/>
		</th:block>
		</div>
		<div class="inner">
			<span th:text="'reviewer_id : ' + ${ReviewData.reviewer_id}"></span><br/>
			<span th:text="'reviewCl : ' + ${ReviewData.reviewCl}"></span><br/>
			<span th:text="'prdSeq : ' + ${ReviewData.prdSeq}"></span><br/>
			<span th:text="'bestFl : ' + ${ReviewData.bestFl}"></span><br/>
			<span th:text="'evalScore : ' + ${ReviewData.evalScore}"></span><br/>
			<span th:text="'hit : ' + ${ReviewData.hit}"></span><br/>
			<span th:text="'recomCnt : ' + ${ReviewData.recomCnt}"></span><br/>
			<span th:text="'recbScore : ' + ${ReviewData.recbScore}"></span><br/>
			<div th:with="max_length=50">
			<p th:if="${#strings.length(ReviewData.goodCnts)} gt ${max_length}" th:text="'goodCnts : ' + ${#strings.substring(ReviewData.goodCnts,0,max_length) + '…'}"></p>
			<p th:unless="${#strings.length(ReviewData.goodCnts)} gt ${max_length}" th:text="'goodCnts : ' + ${ReviewData.goodCnts}"></p>
			</div>	
			<span th:text="'regDate : ' + ${#dates.format(ReviewData.regDate, 'yyyy.MM.dd HH:mm')}"></span><br/>
			<span th:text="'updDate : ' + ${#dates.format(ReviewData.updDate, 'yyyy.MM.dd HH:mm')}"></span><br/>	
			<br/>
			<th:block th:each="reviewerInfo : ${ReviewData.reviewer}" th:if="${reviewerInfoStat.index} == 0">
			<span th:text="'nickNm : ' + ${reviewerInfo.nickNm}"></span><br/>
			<span th:text="'sex : ' + ${reviewerInfo.sex}"></span><br/>
			<span th:text="'lvl : ' + ${reviewerInfo.lvl}"></span><br/>
			<span th:text="'profileImg : ' + ${reviewerInfo.profileImg}"></span><br/>
			<img class="profileImg" th:src="@{'http://localhost:9091'+${reviewerInfo.profileImg}}" alt="Img" height="20%" width="20%" /><br/>
			</th:block>
			
			<div>
			<span th:text="'prdSeq : ' + ${ReviewData.product.prdSeq}"></span><br/>
			<span th:text="'prdNm : ' + ${ReviewData.product.prdNm}"></span><br/>
			<span th:text="'salPrc : ' + ${ReviewData.product.salPrc}"></span><br/>
			</div>
		</div>
	</div>
</th:block>
</div>
</th:block>

	<script type="text/javascript">
		function openWin(url){
			ReviewDetailView = window.open("about:blank", "ReviewDetail", "width=550,height=600,left=400,top=50,dependent=yes,menubar=no,status=no,resizable=yes,toolbar=no,scrollbars=yes");
			ReviewDetailView.location.href = url;
			ReviewDetailView.focus();
		    return false;	
		}
	
    </script>
</th:block>

</body>
</html>