@charset "utf-8";

	body{
		margin : 10px 10px;
	}
	
	.commentTblDiv #commentTbl{
	    margin: 0px 20px;
	}
	
	.commentTblDiv #commentTbl .profileImg{
		height: 10%;
		width : 10% 
	}
	
	
	.commentDiv{
		margin :5px;
	}

	.commentDiv ul{
	   list-style:none;
	   padding-left:0px;
	}
	
	.commentDiv .commentProfile{
		margin-bottom:2px;
	}
	
	.commentDiv .commentRegdt{
		position: absolute;
	    right: 0;
	    font: 14px/1 'roboR';
	    color: #999;
	    margin-right:15px;
	}
	
	.commentDiv .commentProfile .profileImg{
		height:8%;
		width:8%;	
	}
	
	/*댓글 영역 block*/
	.list-group {
	  padding-left: 0;
	  margin-bottom: 20px;
	}
	
	.list-group-item {
	  position: relative;
	  display: block;
	  padding: 10px 15px;
	  margin-bottom: -1px;
	  background-color: #fff;
	  border: 1px solid #ddd;
	}
	/*댓글 영역 block*/

	.profileImg{
		height: 10%;
		width : 10% 
	}

	/*상품영역 block*/
	.reviewRelPdt {
    position: relative;
    min-height: 140px;
    margin: 56px 0 0;
    padding: 1px 0 0 130px;
    background: #f3f3f3;
	}
	
	.reviewRelPdt .pdtImg {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 96px;
    margin-top: -48px;
	}
	
	.reviewRelPdt .pdtUtil {
	    position: absolute;
	    right: 26px;
	    bottom: 32px;
	}
	
	.reviewRelPdt .pdtCont {
    display: block;
    width: 330px;
    margin-top: 30px;
	}
	
	.reviewRelPdt .pdtCont .txt {
	    color: #777;
	}
	.reviewRelPdt .pdtCont .txt, reviewRelPdt .pdtCont .name {
	    display: block;
	    color: #222;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
	
	.reviewRelPdt .pdtCont .price {
    color: #222;
    font-size: 22px;
}
	
	.reviewer{
   		padding-bottom: 10px;
	}
	
	
	.reviewer.pofile{
		text-align : center;
	}