@charset "utf-8";

	body{
		margin : 10px 10px;
	}
	
	.commentTblDiv #commentTbl{
	    margin: 0px 20px;
	}
	
	.commentTblDiv #commentTbl .profileImg{
		height: 10%;
		width : 10% 
	}
	
	
	.commentDiv{
		margin :5px;
	}

	.commentDiv ul{
	   list-style:none;
	   padding-left:0px;
	}
	
	.commentDiv .commentProfile{
		margin-bottom:2px;
	}
	
	.commentDiv .commentRegdt{
		position: absolute;
	    right: 0;
	    font: 14px/1 'roboR';
	    color: #999;
	    margin-right:15px;
	}
	
	.commentDiv .commentProfile .profileImg{
		height:8%;
		width:8%;	
	}
	
	/*댓글 영역 block*/
	.list-group {
	  padding-left: 0;
	  margin-bottom: 20px;
	}
	
	.list-group-item {
	  position: relative;
	  display: block;
	  padding: 10px 15px;
	  margin-bottom: -1px;
	  background-color: #fff;
	  border: 1px solid #ddd;
	}
	/*댓글 영역 block*/

	.profileImg{
		height: 10%;
		width : 10% 
	}

	
	.reviewer{
   		padding-bottom: 10px;
	}
	
	
	.reviewer.pofile{
		text-align : center;
	}