@charset "utf-8";

	body{
		margin : 10px 10px;
	}
	
	.commentTblDiv #commentTbl{
	    margin: 0px 20px;
	}
	
	.commentTblDiv #commentTbl .profileImg{
		height: 10%;
		width : 10% 
	}
	
	.profileImg{
		height: 10%;
		width : 10% 
	}

	
	.reviewer{
   		padding-bottom: 10px;
	}
	
	
	.reviewer.pofile{
		text-align : center;
	}