<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default">

<div layout:fragment="contents" class="text-center">
	
	<div class="row">
	<div class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              	스킨
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">
              	로션
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">
              	크림
            </a>
          </li>
        </ul>
      </div>
    </div>
	<div class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div layout:fragment="product_content"></div>
	</div>

	</div><!-- 	end class row -->
</div>
</html>