<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/reviewLayouts">

<div layout:fragment="powerReview" class="powerReview">
	
	<h3 class="subTitle4">믿고 보는 파워 리뷰</h3>
	<div class="powerReviewList" id="powerReviewList">
		<!--th:block th:include="powerReview"></th:block-->
	</div>	

</div>

<div layout:fragment="reviewList" class="contWrap">
	<div class="reviewList" id="reviewList">
	</div>
</div>

</html>