<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
			<th:block th:each="Comment : ${CommentData}">
				<ul>
					<li class="list-group-item list-group-item-action">
					<th:block th:each="ReviewerInfo : ${Comment.reviewer}" th:if="${ReviewerInfoStat.index}==0">
					 	<div class="commentProfile">
							<img class="profileImg" th:src="@{${@environment.getProperty('ext.review-api.url')}+${ReviewerInfo.profileImg}}" alt="Img"/>
							<span class = "badge badge-success" th:text="'lv.' + ${ReviewerInfo.lvl}"></span>
							<span th:text="${ReviewerInfo.nickNm}"></span>
							<span class="commentRegdt" th:text="${#dates.format(Comment.regDate, 'yyyy.MM.dd (E) HH:mm:ss')}"></span>
							<!--span class="commentRegdt" th:text="${Comment.regDate}"></span-->
						</div>	
					
						<div>
							<span th:text="'댓글 내용 : ' + ${Comment.cnts}"></span><br/>
						</div>
					</th:block>
					</li>
				</ul>
			</th:block>
