<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>리뷰</title>
</head>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
	<h1>리뷰</h1>
	<h2>맞춤 필터</h2>
	<div style="height: 200px;">
		<form action="/review/reviewList" method="post" id="reviewSrchFrm" onsubmit="return false;">
			<input type="hidden" name="pageNo" id="pageNo" value="1" /> 
			<input type="hidden" name="mode" id="mode" value="0" /> 
			<input type="hidden" name="reviewCl" id="reviewCl" value="${Review.reviewCl}" /> 
			<input type="hidden" name="sort" id="sort" value="${Review.sort}" />

		<div class="inputText"><input type="text" id="key" name="key" value="" data-value="검색어를 입력해주세요." onkeydown="if(event.keyCode == 13) goPage('1');"/>
			<button type="button" class="btnSearch" onclick="goPage('1')" >검색</button>
		</div>

			<dl style="float: left; width: 120px;">
				<dt>리뷰 구분</dt>
				<dd style="margin-left: 0;">
					<ul class="clList" style="list-style-type: none; padding-left: 0;">
						<li><input type="radio" id="cl1" name="cl" value="A" checked="checked"> 
							<label for="cl1">포토리뷰</label></li>
						<li><input type="radio" id="cl2" name="cl" value="B">
							<label for="cl2">간단리뷰</label></li>
					</ul>
				</dd>
			</dl>
			<dl style="float: left; width: 120px;">
				<dt>정렬 기준</dt>
				<dd style="margin-left: 0;">
					<ul class="sortList" style="list-style-type: none; padding-left: 0;">
						<li><input type="radio" id="Sort1" name="sort" value="1" checked="checked"> 
							<label for="Sort1">최신순</label>
						</li>
						<li><input type="radio" id="Sort2" name="sort" value="2">
							<label for="Sort2">조회순</label>
						</li>
					</ul>
				</dd>
			</dl>
			<dl style="float: left; width: 120px;">
				<dt>연령</dt>
				<dd style="margin-left: 0;">
					<ul class="ageList" style="list-style-type: none; padding-left: 0;">
						<li><input type="radio" name="uAge" id="reViewFilter1_0" value="all" checked="checked" /> <label for="reViewFilter1_0">전체</label></li>
						<li><input type="radio" name="uAge" id="reViewFilter1_1" value="10" /> <label for="reViewFilter1_1">10대</label></li>
						<li><input type="radio" name="uAge" id="reViewFilter1_2" value="20" /> <label for="reViewFilter1_2">20대</label></li>
						<li><input type="radio" name="uAge" id="reViewFilter1_3" value="30" /> <label for="reViewFilter1_3">30대</label></li>
						<li><input type="radio" name="uAge" id="reViewFilter1_4" value="40" /> <label for="reViewFilter1_4">40대 이상</label></li>
					</ul>
				</dd>
			</dl>
			<dl style="float: left; width: 120px;">
				<dt>피부 타입</dt>
				<dd style="margin-left: 0;">
					<ul class="skinTypeList" style="list-style-type: none; padding-left: 0;">
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_1" value="SZ01" /> <label for="reViewFilter2_1">건성</label></li>
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_2" value="SZ02" /> <label for="reViewFilter2_2">중성</label></li>
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_3" value="SZ03" /> <label for="reViewFilter2_3">지성</label></li>
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_4" value="SZ04" /> <label for="reViewFilter2_4">민감성</label></li>
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_5" value="SZ05" /> <label for="reViewFilter2_5">복합성</label></li>
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_6" value="SZ06" /> <label for="reViewFilter2_6">약건성</label></li>
						<li><input type="checkbox" name="skintypecd" id="reViewFilter2_7" value="SZ07" /> <label for="reViewFilter2_7">트러블성</label></li>
					</ul>
				</dd>
			</dl>
			<dl style="float: left; width: 120px;">
				<dt>피부 밝기</dt>
				<dd style="margin-left: 0;">
					<ul class="skinEtcList" style="list-style-type: none; padding-left: 0;">
						<li><input type="checkbox" name="skinetcinfo" id="reViewFilter3_1" value="SY13" /> <label for="reViewFilter3_1">13호</label></li>
						<li><input type="checkbox" name="skinetcinfo" id="reViewFilter3_2" value="SY21" /> <label for="reViewFilter3_2">21호</label></li>
						<li><input type="checkbox" name="skinetcinfo" id="reViewFilter3_3" value="SY23" /> <label for="reViewFilter3_3">23호</label></li>
					</ul>
				</dd>
			</dl>
			<dl style="float: left; width: 120px;">
				<dt>피부 톤</dt>
				<dd style="margin-left: 0;">
					<ul class="skinToneList" style="list-style-type: none; padding-left: 0;">
						<li><input type="checkbox" name="skintonecd" id="reViewFilter4_1" value="SX01" /> <label for="reViewFilter4_1">노랑</label></li>
						<li><input type="checkbox" name="skintonecd" id="reViewFilter4_2" value="SX02" /> <label for="reViewFilter4_2">보통</label></li>
						<li><input type="checkbox" name="skintonecd" id="reViewFilter4_3" value="SX03" /> <label for="reViewFilter4_3">붉은</label></li>
					</ul>
				</dd>
			</dl>
			<input type="submit" onclick="goPage('1');" value="필터 적용" /> 
			<br /><br />

		</form>
	</div>

	<h2>리뷰 목록</h2>
	<div class="reviewList" id="reviewList">
		<th:block th:include="apitest"></th:block>
	</div>
	<button onclick="goNextPage();">더보기</button>


	<script type="text/javascript">
		function openWin(url) {
			ReviewDetailView = window
					.open(
							"about:blank",
							"ReviewDetail",
							"width=550,height=600,left=400,top=50,dependent=yes,menubar=no,status=no,resizable=yes,toolbar=no,scrollbars=yes");
			ReviewDetailView.location.href = url;
			ReviewDetailView.focus();
			return false;
		}

		function goPage(page) {
			
			$('#pageNo').val(page);
			srchPhotoList(1);  // 리뷰 검색
		}
		
		function goNextPage() {
			
			var page = $('#pageNo').val();
			page *= 1;
			$('#pageNo').val(page+1);
			srchPhotoList(2);  // 리뷰 페이징
		}

		function srchPhotoList(mode) {
			
			var v_pageNo = $('#pageNo').val();
			var v_reviewCl = $(":input:radio[name=cl]:checked").val();
			var v_key = $('#key').val();
			var v_sort = $(":input:radio[name=sort]:checked").val();

			var v_uage = $(":input:radio[name=uAge]:checked").val(); //필터 연령
			
			//필터 피부타입 시작
			var v_skintypecd1 = '';
			var v_skintypecd2 = '';
			var v_skintypecd3 = '';
			var v_skintypecd4 = '';
			var v_skintypecd5 = '';
			var v_skintypecd6 = '';
			var v_skintypecd7 = '';
			var v_skintypecdyn = '';

			if ($('input:checkbox[id="reViewFilter2_1"]').is(":checked")) {
				v_skintypecd1 = $('input:checkbox[id="reViewFilter2_1"]').val();
			}
			if ($('input:checkbox[id="reViewFilter2_2"]').is(":checked")) {
				v_skintypecd2 = $('input:checkbox[id="reViewFilter2_2"]').val();
			}
			if ($('input:checkbox[id="reViewFilter2_3"]').is(":checked")) {
				v_skintypecd3 = $('input:checkbox[id="reViewFilter2_3"]').val();
			}
			if ($('input:checkbox[id="reViewFilter2_4"]').is(":checked")) {
				v_skintypecd4 = $('input:checkbox[id="reViewFilter2_4"]').val();
			}
			if ($('input:checkbox[id="reViewFilter2_5"]').is(":checked")) {
				v_skintypecd5 = $('input:checkbox[id="reViewFilter2_5"]').val();
			}
			if ($('input:checkbox[id="reViewFilter2_6"]').is(":checked")) {
				v_skintypecd6 = $('input:checkbox[id="reViewFilter2_6"]').val();
			}
			if ($('input:checkbox[id="reViewFilter2_7"]').is(":checked")) {
				v_skintypecd7 = $('input:checkbox[id="reViewFilter2_7"]').val();
			}
			if (v_skintypecd1 + v_skintypecd2 + v_skintypecd3 + v_skintypecd4
					+ v_skintypecd5 + v_skintypecd6 + v_skintypecd7 == '') {
				v_skintypecdyn = 'N';
			} else {
				v_skintypecdyn = 'Y';
			}
			//필터 피부타입 끝

			//필터 피부밝기 시작
			var v_skinetcinfo1 = '';
			var v_skinetcinfo2 = '';
			var v_skinetcinfo3 = '';
			var v_skinetcinfoyn = '';

			if ($('input:checkbox[id="reViewFilter3_1"]').is(":checked")) {
				v_skinetcinfo1 = $('input:checkbox[id="reViewFilter3_1"]')
						.val();
			}
			if ($('input:checkbox[id="reViewFilter3_2"]').is(":checked")) {
				v_skinetcinfo2 = $('input:checkbox[id="reViewFilter3_2"]')
						.val();
			}
			if ($('input:checkbox[id="reViewFilter3_3"]').is(":checked")) {
				v_skinetcinfo3 = $('input:checkbox[id="reViewFilter3_3"]')
						.val();
			}
			if (v_skinetcinfo1 + v_skinetcinfo2 + v_skinetcinfo3 == '') {
				v_skinetcinfoyn = 'N';
			} else {
				v_skinetcinfoyn = 'Y';
			}
			//필터 피부밝기 끝

			//필터 피부톤 시작
			var v_skintonecd1 = '';
			var v_skintonecd2 = '';
			var v_skintonecd3 = '';
			var v_skintonecdyn = '';

			if ($('input:checkbox[id="reViewFilter4_1"]').is(":checked")) {
				v_skintonecd1 = $('input:checkbox[id="reViewFilter4_1"]').val();
			}
			if ($('input:checkbox[id="reViewFilter4_2"]').is(":checked")) {
				v_skintonecd2 = $('input:checkbox[id="reViewFilter4_2"]').val();
			}
			if ($('input:checkbox[id="reViewFilter4_3"]').is(":checked")) {
				v_skintonecd3 = $('input:checkbox[id="reViewFilter4_3"]').val();
			}
			if (v_skintonecd1 + v_skintonecd2 + v_skintonecd3 == '') {
				v_skintonecdyn = 'N';
			} else {
				v_skintonecdyn = 'Y';
			}
			//필터 피부톤 끝

			// mode 1: 리뷰검색이면 html, 2: 페이징이면 append 처리
			
			$.ajax({
				url : '/review/reviewList',
				type : 'GET',
				data : {
					pageNo : v_pageNo,
					reviewCl : v_reviewCl,
					key : v_key,
					sort : v_sort,
					uage : v_uage,
					skintypecd1 : v_skintypecd1,
					skintypecd2 : v_skintypecd2,
					skintypecd3 : v_skintypecd3,
					skintypecd4 : v_skintypecd4,
					skintypecd5 : v_skintypecd5,
					skintypecd6 : v_skintypecd6,
					skintypecd7 : v_skintypecd7,
					skintypecdyn : v_skintypecdyn,
					skinetcinfo1 : v_skinetcinfo1,
					skinetcinfo2 : v_skinetcinfo2,
					skinetcinfo3 : v_skinetcinfo3,
					skinetcinfoyn : v_skinetcinfoyn,
					skintonecd1 : v_skintonecd1,
					skintonecd2 : v_skintonecd2,
					skintonecd3 : v_skintonecd3,
					skintonecdyn : v_skintonecdyn,
					mode : mode
				},
				success : function(data) {
					if(mode=="1"){ // 리뷰필터검색
						$('#reviewList').html(data);
					}else if(mode=="2"){ // 페이징
						$('#reviewList').append(data);
					}
					reveiwPointSet();
				}
			});
		
		}
	</script>

</body>
</html>