<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://localhost:8081/css/reviewDetail.css" />
<link rel="stylesheet" href="http://localhost:8081/css/customBootstrap.css"/>
<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->

<title>Review Detail</title>
</head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<body>
<h1>	
	<span th:text="${Product.prdNm}"></span>
</h1>
		<th:block th:each="num:${#numbers.sequence(1,ReviewData.evalScore)}">
		<img class="evalScore" src="/img/star.png" width="20px"/>
		</th:block>

	<hr>
		<!--span th:text="'작성일 : ' + ${ReviewData.regDate}"></span><br/-->
		<span th:text="${#dates.format(ReviewData.regDate, 'yyyy.MM.dd (E) HH:mm:ss')}"></span><br/>
		<span th:text="'조회수 : ' + ${ReviewData.hit}"></span><br/>
	<hr>
	<div class = "reviewer">
		<img class="profileImg" th:src="@{'http://localhost:9091'+${ReviewerData.profileImg}}" alt="Img"/>
		<div class="pofile">
			<span class = "badge badge-success" th:text="'lvl.' + ${ReviewerData.lvl}"></span>
			<span th:text="${ReviewerData.nickNm}"></span><br/>
		</div>
	</div>
	<!-- 리뷰 이미지 슬라이드 -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  data-interval="2000">
	  	  <!-- 슬라이드 콘텐츠 -->
 		  <div class="carousel-inner" style="width: auto; height: 300px; overflow: hidden">
 		  	<th:block th:each="ReviewImg : ${ReviewData.tplList}">
			  	<th:block th:if="${ReviewImgStat.index} == 0">
				    <div class="carousel-item active">
				      <img th:src="@{'http://localhost:9091'+${ReviewImg}}" class="d-block w-100" alt="Img"
				      style="width: auto; height: 300px;">
				    </div>
			    </th:block>
 			    <th:block th:unless="${ReviewImgStat.index} == 0">
				    <div class="carousel-item">
				      <img class="d-block w-100" th:src="@{'http://localhost:9091'+${ReviewImg}}" alt="Img"
				      style="width: auto; height: 300px;">
				    </div>
				</th:block> 
				</th:block>
			</th:block>
		  </div>
		  <!-- 슬라이드 화살표, 이미지가 2개 이상일 때만 노출  -->	
		  <div class = "carousel-control">
			  <th:block th:each="ReviewImg :  ${ReviewData.tplList} " >
				  <th:block th:if="${ReviewImgStat.count} >= 2">
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
				  	</a>
				  	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
				 	 </a>
				  </th:block>
			  </th:block>
		  </div>
		  <!-- 슬라이드 언더바 -->
		    <ol class="carousel-indicators">
			    <th:block th:each="ReviewImg :  ${ReviewData.tplList}">
				    <li data-target="#carouselExampleIndicators" 
				    	th:attr="data-slide-to=${ReviewImgStat.index}"></li>
			    </th:block>
  			</ol>
	</div>

	<!-- 리뷰 내용 -->
	<h3>GOOD</h3>
	<span th:text="${ReviewData.goodCnts}"></span><br/>
	<hr>
	<h3>ETC</h3>
	<span th:text="${ReviewData.etcCnts}"></span><br/>
	<hr>
	<img class="cmtCnt" src="/img/speech-balloon.png" width="20px"/>
	<span th:text="${Count}"></span>
	<img class="recomCnt" src="/img/heart.png" width="20px"/>
	<span th:text="${ReviewData.recomCnt}"></span>
	<img class="recbScore" src="/img/trophy.png" width="20px"/>
	<span th:text="${ReviewData.recbScore}"></span><br/>
	<hr>
	
	<!-- 리뷰 댓글 -->
	<h3>Comments</h3>
	<div class="commentForm">
            <div class="input-group">
               <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요.">
               <span class="input-group-btn">
               		<button class="btn btn-success" type="button" name="commentInsertBtn">등록</button>
             </span>
     </div>
      <br>
        
       <!-- 코멘트 출력  --> 
		<div class="commentDiv"> 
				<th:block th:each="Comment : ${CommentData}">
				<ul>
					<li class="list-group-item list-group-item-action">
					<th:block th:each="ReviewerInfo : ${Comment.reviewer}" th:if="${ReviewerInfoStat.index}==0">
					 	<div class="commentProfile">
							<img class="profileImg" th:src="@{'http://localhost:9091'+${ReviewerInfo.profileImg}}" alt="Img"/>
							<span class = "badge badge-success" th:text="'lv.' + ${ReviewerInfo.lvl}"></span>
							<span th:text="${ReviewerInfo.nickNm}"></span>
							<span class="commentRegdt" th:text="${#dates.format(Comment.regDate, 'yyyy.MM.dd (E) HH:mm:ss')}"></span>
							<!--span class="commentRegdt" th:text="${Comment.regDate}"></span-->
							
						</div>	
						<div>
							<span th:text="'댓글 내용 : ' + ${Comment.cnts}"></span><br/>
						</div>
					</th:block>
					</li>
				</ul>
				</th:block>
		</div>	

	<!-- 코멘트 더보기 페이징 --><!-- 버튼 색을 댓글 등록버튼과 통일 -->
	<button class="btn btn-secondary btn-lg btn-block" id ="moreCmtBtn"
		style="background-color:#28a745; border-color:#28a745"> more </button>
	</div>
	
	<hr>
	<!-- 리뷰 상품 정보 -->
	<div class ="reviewRelPdt">
		<img class="pdtImg" th:src="@{'http://localhost:9092'+${Product.prdImg2Nd}}" alt="Img"/>
		<div class="pdtCont">
	    	<span class="txt" style="color:"></span>
	    	<span class="name" th:text="${Product.prdNm}"></span> <br/>
	    	<span class="price" th:text="${Product.salPrc}"></span>원
	    </div>
		<span class="pdtUtil">
		</span>
	</div>


<th:block>
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function(){	
				//페이징
				var id = [[${ReviewData._id}]] 
				var pageNo = 2;
				var url = document.location.href;
				var totalCmtNo = [[${Count}]] 
				var totalPgNo = Math.ceil(totalCmtNo/3);
				
				//슬라이드  
				var imgArray = [[${ReviewData.tplList}]]
				
		 		if(imgArray == null){
					$("#carouselExampleIndicators").hide(); //이미지가 없을 때는 슬라이드 div 자체를 hide
				} 
				if(totalPgNo <= 1){ // 총 댓글이 3개 이하일 때는 첫 페이지부터 버튼 hide
					$("#moreCmtBtn").hide();
				}
				else{				// 총 댓글이 4개 이상일 때 버튼 이벤트
					$("#moreCmtBtn").click(function (){
						//자동 스크롤
						var offset = $("#moreCmtBtn").offset();
			  		 $.ajax({
								type: 'GET',
								url : url + '/getMoreComments/' + pageNo,
					            success: function (data) { 
					            	
					                $('.commentDiv').append(data);	//detailComment.html을 따로 따서 덧붙임
					                //$(document).scrollTop($(document).height()); // 페이지 제일 아래로 자동 스크롤
					                $('html').animate({scrollTop : offset.top}, 400); //더보기 버튼 위치로 0.4초 동안 자동 스크롤
									if(pageNo == totalPgNo){ //마지막페이지이면 버튼 hide
									   $("#moreCmtBtn").hide();
									}
									else {
									   pageNo += 1; //페이지 더 있으면 pageNo ++
									}
							     },			//ajax-success      
								error: function (e) {
								console.log(e);
								alert('댓글 읽기에 실패했습니다.');
								} 					//ajax-error
								});  				//ajax 
			});										//Btn-Event
				}									//else
		});											//document-ready
    </script>
</th:block>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>